.form {
	&__wrapper {
		padding: 15px;
		background-color: #f5f5f5;
		border-radius: 6px;
		margin-bottom: 15px;
		.form__box {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__box {
		margin-bottom: 20px;
		.alert{
			margin-top: 5px;
			&-danger{
				//background: #ff5868;
				color:#ba1414;
			}
		}
	}
	&__caption {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.1;
		color: #000000;
		margin-bottom: 10px;
		span {
			color: #ba1414;
		}
	}
	&__title {
		margin-bottom: 20px;
	}
	&__flex {
		display: flex;
		gap:12px;
		align-items: center;
		justify-content: space-between;
		.form {
			&__field {
				width: 178px;
			}
		}
		.select,
		.form__field--big {
			width: calc(100% - 198px);
		}
	}
	&__bottom {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&--item {
		.form {
			&__box {
				//margin-bottom: 15px;
			}
		}
	}
	& + & {
		margin-top: 20px;
	}
	.checkbox{
		input{
			position: absolute;
			z-index: -1;
			opacity: 0;
			&+label {
				display: inline-flex;
				align-items: center;
				gap:5px;
				user-select: none;
				&::before {
					content: '';
					display: inline-block;
					width: 16px;
					height: 16px;
					flex-shrink: 0;
					flex-grow: 0;
					border: 1px solid #e5e5e5;
					border-radius: 4px;
					vertical-align: middle;
					order: 0;
					transition: .1s all;
				}
				&::after{
					content:'';
					position: absolute;
					display: inline-block;
					width: 16px;
					height: 16px;
					order: 0;
					margin-left: 2px;
					margin-top: -1px;
					background: url(../../images/tmp-icons-ic14.png) no-repeat center;
					transition: .1s all;
					opacity: 0;
				}
			}
			&:not(:disabled){
				&:not(:checked)+label:hover::before {
					border-color: #bbb;
				}
				&:active+label::before {
					background-color: rgb(82, 255, 70);;
					border-color: #bbb;
				}
			}
			&:focus{
				&+label::before {
					box-shadow: 0 0 0 3px #3be92f;
				}
				&:not(:checked)+label::before {
					border-color: #1FBA14;
				}
			}
			&:checked+label{
				&::before {
					border-color: #e5e5e5;
				}
				&::after{
					opacity: 1;
				}
			}
		}
	} 
	#priveiwblock{
		display:block;
		
		#preview{
			opacity:0;
			padding:0;
			border:0;
			margin:0;
			height:0;
			overflow:hidden;
			max-width: 150px;
			transition: .2s all;
			border-radius: 6px;
		}
		#previewclearbtn{
			height:0;
			overflow:hidden;
			display:block;
			width:20px;
			font-size:15px;
			color:#fff;
			float:right;
			text-align:center;
			line-height:20px;
			position:relative;
			z-index:2;
			left:-12px;
			border-radius:50%;
			transition:background .2s;
			background:rgba(0,0,0,.2);
			cursor:pointer;
			font-weight: bold;
		}
		&.active{
			display:inline-block;
			#preview{
				margin: 5px 0 15px;
				padding: 5px;
				border: solid 2px #1fba14;
				opacity:1;
				height:auto;
			}
			#previewclearbtn{
				height:20px;
				&:hover{
					background:rgba(0,0,0,.5);
				}
			}
		}
	} 
}

@media (max-width: 1010px) {
}

@media (max-width: 760px) {
	.form {
		&__box {
			margin-bottom: 10px;
		}
		&__btn {
			width: 100%;
		}
		&__flex {
			flex-wrap: wrap;
			.form {
				&__field {
					width: 100%;
				}
			}
			.select,
			.form__field--big {
				width: 100%;
				margin-top: 20px;
			}
		}
		&__wrapper {
			.form {
				&__flex {
					flex-wrap: wrap;
					.form {
						&__field {
							width: 22%;
						}
					}
					.select,
					.form__field--big {
						width: calc(78% - 20px);
						margin-top: 0px;
					}
				}
			}
		}
		&--item {
			.form {
				&__box {
					margin-bottom: 10px;
				}
			}
		}
		& + & {
			margin-top: 20px;
		}
	}
}
