.form__wrapper {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 6px;
  margin-bottom: 15px;
}

.form__wrapper .form__box:last-child {
  margin-bottom: 0;
}

.form__box {
  margin-bottom: 20px;
}

.form__box .alert {
  margin-top: 5px;
}

.form__box .alert-danger {
  color: #ba1414;
}

.form__caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #000000;
  margin-bottom: 10px;
}

.form__caption span {
  color: #ba1414;
}

.form__title {
  margin-bottom: 20px;
}

.form__flex {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.form__flex .form__field {
  width: 178px;
}

.form__flex .select,
.form__flex .form__field--big {
  width: calc(100% - 198px);
}

.form__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form + .form {
  margin-top: 20px;
}

.form .checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form .checkbox input + label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  user-select: none;
}

.form .checkbox input + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  vertical-align: middle;
  order: 0;
  transition: .1s all;
}

.form .checkbox input + label::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  order: 0;
  margin-left: 2px;
  margin-top: -1px;
  background: url(../img/tmp-icons/ic14.png) no-repeat center;
  transition: .1s all;
  opacity: 0;
}

.form .checkbox input:not(:disabled):not(:checked) + label:hover::before {
  border-color: #bbb;
}

.form .checkbox input:not(:disabled):active + label::before {
  background-color: #52ff46;
  border-color: #bbb;
}

.form .checkbox input:focus + label::before {
  box-shadow: 0 0 0 3px #3be92f;
}

.form .checkbox input:focus:not(:checked) + label::before {
  border-color: #1FBA14;
}

.form .checkbox input:checked + label::before {
  border-color: #e5e5e5;
}

.form .checkbox input:checked + label::after {
  opacity: 1;
}

@media (max-width: 760px) {
  .form__box {
    margin-bottom: 10px;
  }
  .form__btn {
    width: 100%;
  }
  .form__flex {
    flex-wrap: wrap;
  }
  .form__flex .form__field {
    width: 100%;
  }
  .form__flex .select,
  .form__flex .form__field--big {
    width: 100%;
    margin-top: 20px;
  }
  .form__wrapper .form__flex {
    flex-wrap: wrap;
  }
  .form__wrapper .form__flex .form__field {
    width: 22%;
  }
  .form__wrapper .form__flex .select,
  .form__wrapper .form__flex .form__field--big {
    width: calc(78% - 20px);
    margin-top: 0px;
  }
  .form--item .form__box {
    margin-bottom: 10px;
  }
  .form + .form {
    margin-top: 20px;
  }
}
