.program {
  margin-top: -20px;
}

.program-top__text {
  margin-bottom: 20px;
}

.program-top__text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.program-referral {
  margin-top: 30px;
}

.program-referral__caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 10px;
}

.program-referral__form {
  display: flex;
  margin-bottom: 30px;
}

.program-referral__field {
  width: 415px;
  border-right: none;
  border-radius: 6px 0px 0px 6px;
}

.program-referral__btn {
  border-radius: 0px 6px 6px 0px;
}

.program-description {
  margin-top: 30px;
  margin-bottom: 30px;
}

.program-description__caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1fba14;
  margin-bottom: 30px;
  display: block;
}

.program-description__row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.program-description__coll {
  width: calc(33.333% - 20px);
  margin: 10px;
  position: relative;
  padding: 12px 10px;
  background-color: #1fba14;
  border-radius: 6px;
}

.program-description__price {
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 5px;
}

.program-description__price span {
  font-size: 16px;
  line-height: 19px;
}

.program-description__desc {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
}

.program-description__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
}

@media (max-width: 1010px) {
  .program {
    margin-top: -10px;
  }
}

@media (max-width: 760px) {
  .program {
    margin-top: 0px;
  }
  .program-top__btn {
    width: 100%;
  }
  .program-referral {
    margin-top: 20px;
  }
  .program-referral__caption {
    font-size: 14px;
    line-height: 17px;
  }
  .program-referral__form {
    flex-wrap: wrap;
  }
  .program-referral__field {
    width: 100%;
    border-right: 1px solid #ebebeb;
    border-radius: 6px;
  }
  .program-referral__btn {
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
  }
  .program-description {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .program-description__row {
    margin: 0px 0px -10px;
  }
  .program-description__coll {
    width: 100%;
    margin: 0px 0px 10px;
    padding: 13px 10px;
  }
}
