.select {
	position: relative;
	cursor: pointer;
	&-title {
		position: relative;
		width: 100%;
		z-index: 1;
		background-color: #ffffff;
		border: 1px solid #ebebeb;
		border-radius: 6px;
		padding: 19px 15px;
		&__arrow {
			position: absolute;
			top: calc(50% - 7.5px);
			right: 20px;
			width: 15px;
			height: 15px;
			background-image: url(../../images/select-arrow.svg);
			background-repeat: no-repeat;
			background-size: contain;
			transition: all 0.3s;
		}
		&__value {
			display: block;
			font-weight: 300;
			font-size: 14px;
			line-height: 1.1;
			color: #000000;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: calc(100% - 25px);
		}
	}
	&-options {
		display: none;
		position: absolute;
		top: 100%;
		right: 0px;
		min-width: 100%;
		border-top: none;
		overflow: hidden;
		background: #ffffff;
		border: 1px solid #ebebeb;
		box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
		white-space: nowrap;
		z-index: 10;
		&__value,&__item {
			& + & {
				border-top: 1px solid #ebebeb;
			}
			padding: 8px 15px;
			font-weight: 300;
			font-size: 14px;
			line-height: 19px;
			color: #000000;
			text-align: left;
			color: #131415;
			cursor: pointer;
			transition: all 0.3s;
			display: flex;
			align-items: flex-start;
			&:hover {
				background-color: #f5f5f5;
			}
			&.plus-ic{
				&:before{
					content:'+';
					font-size: 19px;
					line-height: 19px;
					color:#1fba14;
					font-weight: 100;
					margin-right: 5px;
				}
			}
		}
	}
	&.active {
		.select-title {
			border-color: #ebebeb;
			background-color: #f5f5f5;
		}
		.select-title__arrow {
			transform: rotate(-180deg);
		}
	}
	&.disabled{
		cursor:default;
		.select-title{
			background-color: #f5f5f5;
			&__value{
				color:#8e8e8e;
			}
		}
	}
}
.form__box{

.select2-container {
	width: 100% !important;
	display: block !important;
	//&--default,
	&--default.select2-container--focus .select2-selection--multiple, 
	&--default .select2-selection--multiple,
	&--default.select2-container--focus .select2-selection--single, 
	&--default .select2-selection--single 
	{
		background: #ffffff;
		border: 1px solid #ebebeb;
		border-radius: 6px;
		padding: 13px 15px;
		display: flex;
		min-height: 54px;
	}
	.select2-selection--multiple,.select2-selection--single {
		&:after {
			content: "";
			position: absolute;
			top: calc(50% - 7.5px);
			right: 20px;
			width: 15px;
			height: 15px;
			background-image: url(../../images/select-arrow.svg);
			background-repeat: no-repeat;
			background-size: contain;
			transition: all 0.3s;
		}
	}
	&.select2-container--open {
		.select2-selection--multiple, .select2-selection--single {
			&:after {
				transform: rotate(-180deg);
				transition: all 0.3s;
			}
		}
	}
	&.select2-container--default{
		.select2-selection--multiple, .select2-selection--single {
			.select2-selection__choice {
				margin-left: 0px;
				margin-top: 0px;
				padding-left: 20px;
				padding: 5px;
				background-color: #f5f5f5;
				border: 1px solid #ebebeb;
				border-radius: 3px;
				font-weight: 300;
				font-size: 14px;
				line-height: 1.1;
				color: #000000;
				margin-right: 10px;
			}
		}
	} 
	 
	&.select2-container--default{
		.select2-selection--multiple, .select2-selection--single{
			.select2-selection__choice__remove {
				span {
					display: none;
				}
			}
		} 
	} 
	
	&.select2-container--open .select2-dropdown--below {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

}
.select2-container--default{
	.select2-selection--multiple,.select2-selection--single{
		.select2-selection__choice__display {
			padding-left: 0;
			padding-right: 19px;
		}
	}
	.select2-search--dropdown .select2-search__field{
		border-color: #ebebeb;
		color: #444;
	}
	.select2-selection--single .select2-selection__arrow{
		display: none;
	}
	.select2-selection--multiple,.select2-selection--single {
		.select2-selection__choice__remove {
			position: absolute;
			width: 14px;
			height: 14px;
			border: none;
			top: calc(50% - 7px);
			right: 5px;
			left: auto;
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				background-image: url(../../images/select-closed.svg);
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	.select2-results__option--highlighted.select2-results__option--selectable {
		background-color: #f5f5f5;
		color: #131415;
		transition: all 0.3s;	
	} 
}

.select2-dropdown,.select2-search--dropdown {
	border: none;
	border-radius: 6px;
	background: #ffffff;
	border: 1px solid #ebebeb;
	box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}
.select2-results__option {
	padding: 8px 15px;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.1;
	text-align: left;
	color: #131415;
	cursor: pointer;
}
.select2-results__option + .select2-results__option {
		border-top: 1px solid #ebebeb;
}


@media (max-width: 760px) {
	.select {
		&-title {
			&__arrow {
				right: 15px;
			}
		}
	}
	.select2-selection--multiple:after {
		right: 15px;
	}
}
