.sidebar {
	width: 278px;
	&-wrap{
		position: fixed;
	    width: inherit;
		top:101px;
		bottom:0;
		overflow-x: hidden;
		overflow-y: auto;
		//height: calc(100vh - (3.5rem + 1px));
		scrollbar-color: #a9a9a9 transparent;
    	scrollbar-width: none;
		//padding-right: .5em;
		&::-webkit-scrollbar {
			width: 0;
		}
		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #a9a9a9;
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
		&:hover{
			scrollbar-width: 5px;
			&::-webkit-scrollbar {
				width: 5px;
				height: 5px;
			}
		}
	}
	&-top {
		padding: 10px;
		background-color: #ffffff;
		box-shadow: 0px 2px 15px rgba(211, 211, 211, 0.25);
		border-radius: 6px;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: inherit;
		&__profile {
			display: flex;
			align-items: center;
		}
		&__avatar {
			width: 40px;
			height: 40px;
			margin-right: 10px;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		&__name {
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			color: #000000;
			margin-bottom: 2px;
		}
		&__value {
			font-weight: 400;
			font-size: 14px;
			line-height: 1.1;
			color: #d9d9d9;
		}
		&__nav {
			display: flex;
			align-items: center;
		}
	}
	&-container {
		background-color: #ffffff;
		box-shadow: 0px 2px 15px rgba(211, 211, 211, 0.25);
		border-radius: 6px;
		overflow: hidden;
		width: inherit;
	}
	&__item {
		border-top: 1px solid #ebebeb;
		.nav-flex-wrap{
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 57px;
			width: 100%;
			cursor: pointer;
			transition: all 0.3s;
			padding: 10px;
		}
		&-box {
			display: flex;
			align-items: center;
		}
		&:first-child {
			border-top: none;
		}
		.sidebar__arrow{
			transition: .2s all;
			margin-right: 5px;
		}
		.sub-nav{
			padding: 0px 0 0px 0px;
			transition: .2s;
			max-height: 0;
			overflow: hidden;
			li{
				a{
					padding: 6px 22px;
					display: block;
					background: url(../../images/tmp-icons-ic9.png) no-repeat left 3px center;
					font-size: 14px;
					line-height: 1.2;
					color:#222222;
					font-weight: 500;
					transition: .2s all;
					&:hover{
						color:#1fba14;
						background-position: left 5px center;
					}
				}
				&.active{
					a{
						color:#1fba14;
						background-position: left 5px center;
					}
				}
			}
		}
		&:hover,
		&.active {
			.nav-flex-wrap{
				background-color: #f3f3f3;
			}
			.sidebar__arrow{
				transform: rotate(-90deg);
			}
			.sub-nav{
				max-height: 300px;
				padding: 3px 0 5px 20px;
			}
		}
	}
	&__icon {
		width: 15px;
		height: 15px;
		margin-right: 8px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__caption {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
	}
	&__value {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.1;
		color: #ffffff;
		padding: 2px 5px;
		//width: 18px;
		height: 18px;
		background-color: #1fba14;
		border-radius: 3px;
	}
	.link {
		&--exit {
			display: none;
		}
	}
}
@media (max-width: 1010px) {
	.sidebar {
		width: 100%;
		&-wrap{
			position: static;
		}
		&-top {
			margin-bottom: 30px;
			position: relative;
			z-index: 999;
		}
		&-container {
			position: fixed;
			top: 55px;
			left: -120%;
			width: 100%;
			//height: 100vh;
			padding: 10px;
			text-align: left;
			overflow-x: auto;
			z-index: 1000;
			background-color: #fff;
			transition: left 0.3s;
			bottom: 0;
			overflow-y: scroll;
			&.active {
				left: 0;
				transition: left 0.3s;
			}
		}
		.link {
			&--exit {
				display: flex;
			}
		}
	}
}
@media (max-width: 760px) {
}
