.documents {
	margin-top: -20px;
	&-top {
		display: flex;
		align-items: center;
		padding: 5px 10px;
		background-color: #f4fcf3;
		border-radius: 6px;
		&__icon {
			width: 30px;
			height: 30px;
			margin-right: 10px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		&__desc {
			width: calc(100% - 40px);
			font-weight: 300;
			font-size: 14px;
			line-height: 20px;
			color: #000000;
		}
	}
	&__body {
		margin-top: 35px;
	}
	&__item {
		& + & {
			margin-top: 10px;
		}
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
		background-color: #ffffff;
		box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.04);
		border-radius: 6px;
	}
	&__box {
		display: flex;
		align-items: center;
		width: calc(100% - 150px);
	}
	&__icon {
		width: 20px;
		height: 20px;
		margin-right: 8px;
	}
	&__caption {
		width: calc(100% - 30px);
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
	}
	&__button {
		width: 130px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: #1fba14;
		padding: 9px;
		border: 1px solid #1fba14;
		border-radius: 6px;
		transition: all 0.3s;
		&:hover {
			color: #fff;
			background-color: #3be92f;
			border-color: #3be92f;
			transition: all 0.3s;
		}
	}
	&__bottom {
		display: flex;
		justify-content: flex-end;
		margin-top: 30px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -10px;
	}
	&__coll {
		width: calc(33.333% - 20px);
		margin: 10px;
		background-color: #ffffff;
		box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.04);
		border-radius: 10px;
		padding: 20px;
		position: relative;
		&-icon {
			position: absolute;
			width: 60px;
			height: 60px;
			right: 20px;
			bottom: 20px;
		}
		&-top {
			min-height: 62px;
			margin-bottom: 20px;
		}
		&-caption {
			font-weight: 700;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			margin-bottom: 10px;
		}
		&-value {
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			color: #cecfd3;
		}
		&-btn {
			width: 140px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			color: #1fba14;
			padding: 11px;
			border: 1px solid #1fba14;
			border-radius: 6px;
			transition: all 0.3s;
			&:hover {
				color: #fff;
				background-color: #3be92f;
				border-color: #3be92f;
				transition: all 0.3s;
			}
		}
	}
}
@media (max-width: 1200px) {
	.documents {
		&__coll {
			width: calc(50% - 20px);
		}
	}
}
@media (max-width: 1010px) {
	.documents {
		margin-top: -5px;
	}
}
@media (max-width: 760px) {
	.documents {
		&-top {
			align-items: flex-start;
			padding: 15px 10px;
			&__desc {
				width: calc(100% - 40px);
				font-size: 12px;
				line-height: 20px;
			}
		}
		&__body {
			margin-top: 25px;
		}
		&__caption {
			font-size: 12px;
			line-height: 14px;
		}
		&__box {
			width: calc(100% - 140px);
		}
		&__btn {
			width: 100%;
		}
		&__row {
			margin: -5px;
		}
		&__coll {
			width: 100%;
			margin: 5px;
		}
	}
}
